//- === Component: Contact Bar === -//
//- Vars:

mixin contactBar()
  section.contact-bar
    .container
      h4 Contact
      ul.contact-bar__list
        li
          a(href="mailto:email@email.com") Email
        li
          a(href="tel:1234567890") Phone: (123)456-7890
        li
          a(href="#") Angies List
        li
          a(href="#") Linkedin
        li
          a(href="#") Houzz


