//- === Component: Contact Bar === -//
//- Vars:

//- Stylesheet:
block append stylesheets
  link(rel="stylesheet" href="./../components/contact-bar/style.css")

//- Mixin:
mixin contactBar()
  section.contact-bar
    .contact-bar__content
      //- === Include: Contact Links === -//
      include ../../includes/contact-links/_template.pug


