@charset 'UTF-8';
@import "../../scss/abstracts/imports";

// -----------------------------------------------------------------------------
// Component: Contact Bar
// -----------------------------------------------------------------------------

.contact-bar {
  background-color: $color-contact-bar-bg;
  padding-top: $vertical-rhythm-sm;
  padding-bottom: $vertical-rhythm-sm;

  .contact-bar__content {
    @include container();
    @include gap-horizontal();
    align-items: center;
    display: flex;
  }

  h4 {
    color: $color-contact-bar-title;
    margin-right: 5%;
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 2.5% 5% 2.5% 0;
    }

    i {
      display: none;
    }
  }
}
