//- === Component: Gallery === -//
include ../components/gallery/_template.pug
+gallery()

  //- === Component: Image === -//
  include ../components/image/_template.pug
  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )

  +image(
    "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
    "Image alt text",
    "true"
  )
