include ./../components/gallery/_template.pug

//- === Component: Gallery === -//
+gallery()

  //- === Component: Image === -//
  include ../components/image/_template.pug
  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "false"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "true"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "false"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "true"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "false"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "true"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "false"
  )

  +image(
    "../../images/aniket-deole-527363-unsplash.jpg",
    "Quisque pellentesque",
    "true"
  )
