// -----------------------------------------------------------------------------
// Container margin
// @include outer-spacing();
// Apply to container where spacing is needed on the outside
//
// Options:
// • $property(value = margin or padding) - default = margin - changes property
// • $direction(value = vertical, horizontal, or both) - default = horizontal - applies property to sides
// • $lg-space(value = true or false) - default = false - be normal width or special large width
// • $breakpoint(value = breakpoint variable) - default = $bp-md - breakpoint on when to go from medium to small
//
// @include outer-spacing($property: padding, $direction: both, $lg-space: true, $breakpoint: $bp-md);
// -----------------------------------------------------------------------------

@mixin outer-spacing (
  $property: padding,
  $breakpoint: $bp-md
  ) {

  #{$property}-left: $spacing-horizontal-sm;
  #{$property}-right: $spacing-horizontal-sm;

  @include bp-min($breakpoint) {
    #{$property}-left: $spacing-horizontal-md;
    #{$property}-right: $spacing-horizontal-md;
  }
}
