@charset 'UTF-8';
@import "../../../scss/abstracts/imports";

// -----------------------------------------------------------------------------
// Component: Pea - Base
// -----------------------------------------------------------------------------

.pea {
  flex: 1 1 auto;
  padding-right: 2.5rem;
  margin-bottom: 2.5rem;

  @include bp-min($bp-md) {
    flex: 1 1 50%;
    max-width: 50%;
  }

  @include bp-min($bp-lg) {
    flex: 1 1 auto;
    margin-bottom: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }

  .pea__title {
    @include type-p-plus();
    font-weight: $font-weight-bold;
    margin: 0;
  }

  .pea__text {
    margin-bottom: 0;
  }

  .pea__link {
    text-decoration: none;

    &:after {
      content: '\21A3';
      margin-left: 0.75rem;
      font-size: 1.5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
