@charset 'UTF-8';
@import "../../../scss/abstracts/imports";

// -----------------------------------------------------------------------------
// Component: Pea - Card
// -----------------------------------------------------------------------------

.pea-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $color-card-text;
  flex: 1 1 auto;
  margin-bottom: 1rem;
  padding: 2.5rem;
  position: relative;

  @include media('>=md') {
    flex-basis: 50%;
    margin-bottom: 0;
    max-width: 50%;
  }

  @include media('>=lg') {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  &:nth-of-type(3n+1) {
    background-color: $color-card-bg-1;
  }

  &:nth-of-type(3n+2) {
    background-color: $color-card-bg-2;
  }

  &:nth-of-type(3n+3) {
    background-color: $color-card-bg-3;
  }

  &:nth-of-type(4n) {
    @include media('>=lg') {
      flex-basis: 66.666%;
      max-width: 66.666%;
    }
  }

  &.pea-card--bg-img:before {
    @include trbl();
    background-color: $color-card-bg-overlay;
    content: '';
    pointer-events: none;
  }

  .pea-card__content {
    position: relative;
    z-index: 1;

    a {
      color: $color-card-text;
      text-decoration: none;

      &:after {
        content: '\21A3';
        margin-left: 0.75rem;
        font-size: 1.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
