// -----------------------------------------------------------------------------
// Component: Hero - Base
// -----------------------------------------------------------------------------

.hero {
  align-items: center;
  background-color: $color-kelp;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  position: relative;

  &:before {
    @include trbl();
    background: linear-gradient(to top, $bg-hero-grad);
    content: '';
    pointer-events: none;
  }
}

.hero__content {
  @include outer-spacing();
  position: relative;
  text-align: center;
  z-index: 1;

  @include bp-min($bp-md) {
    padding: 0;
    max-width: 80vw;
    text-align: left;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;

  .hero__text-title {
    @include type-h1();
    border-bottom: 0.125rem solid $color-white;
    margin-bottom: 1.5rem;
  }

  .hero__text-subtitle {
    @include type-h4();
  }

  .hero__text-description {
    margin-bottom: 1.5rem;

    @include bp-min($bp-md) {
      max-width: 50%;
    }
  }

  .btn {
    margin: 0 auto;

    @include bp-min($bp-md) {
      margin: 0;
    }
  }

  .hero__text-block {
    @include type-p-minus();
    text-align: left;

    p {
      @include type-p-minus();
    }

    ul {
      @include type-p-minus();
      font-family: $font-primary;
    }
  }
}
