//- === Mixin Template Includes === -//
include ../../components/scroll-link/_template.pug

header.header
  .header__content
    .header__logo
      a(href="/" aria-label="Homepage")
        img(src="http://via.placeholder.com/150x50" alt="Site Name")

    .header__nav
      button.mobile-menu__icon.js-mobile-menu__icon(aria-label="mobile menu toggle")
        .mobile-menu__icon-bars
          span
          span
          span

      nav.header__menu
        ul.header__menu-list
          li.header__menu-item
            +scrollTo("/#lorem", "Lorem", "header__menu-item-link")

          li.header__menu-item
            +scrollTo("/#ipsum", "Ipsum", "header__menu-item-link")

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html" aria-label="Praesent")
              | Praesent

          li.header__menu-item.header__menu-item--highlight
            a.header__menu-item-link(href="/interior.html" aria-label="Aliquam")
              | Aliquam
