//- === Mixin Template Includes === -//
include ../../components/scroll-link/_template.pug

header.header
  .header__content
    .header__logo
      a(href="/")
        // img(src="../../images/RCB-weblogo.png")

    .header__nav
      button.mobile-menu__icon.js-mobile-menu__icon
        .mobile-menu__icon-bars
          span
          span
          span

      nav.header__menu
        ul.header__menu-list
          li.header__menu-item
            +scrollTo("/#about", "About", "header__menu-item-link")

          li.header__menu-item
            +scrollTo("/#services", "Services", "header__menu-item-link")

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html") Testimonials

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html") Photos & Videos

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html") Plans

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html") Bees

          li.header__menu-item
            a.header__menu-item-link(href="/interior.html") Toby Tobin
