header.header
  .header__content
    .header__logo
      a(href="/")
        img(src="../../images/RCB-weblogo.png")

    .header__nav
      button.mobile-menu__icon.js-mobile-menu__icon
        .mobile-menu__icon-bars
          span
          span
          span

      nav.header__menu
        ul.header__menu-list
          li.header__menu-item
            a.header__menu-item-link(href="/styleguide.html") sg type & colors
          li.header__menu-item
            a.header__menu-item-link(href="/components.html") components
