// -----------------------------------------------------------------------------
// Component: Hero - Secondary
// -----------------------------------------------------------------------------

.btn--secondary {
  border: 2px solid $color-btn-bg;
  background-color: transparent;
  color: $color-btn-bg;
  text-align: center;

  &:hover,
  &:active {
    background-color: $color-btn-bg;
    color: $color-btn-text;
  }
}
