// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic body styles
 */
body {
  background-color: $color-background;
  font-family: $font-secondary;
  font-weight: $font-weight-regular;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex: 0 0 auto;
}

.container {
  @include outer-spacing();

  @include bp-min($bp-xlg) {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.spacer {
  margin-bottom: $vertical-rhythm-xsm;
}

main {
  margin-top: calc(#{$header-height} + #{$spacing-vertical-sm});
}

.hero:first-of-type {
  margin-top: calc(#{-$header-height} + #{-$spacing-vertical-sm});

  .hero__text-title {
    @include bp-min($bp-lg) {
      padding-top: 6rem;
    }
  }
}

.hero:not(:first-of-type) {
  @include vertical-rhythm($property: margin);
}

.image {
  img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
  }

  img + label {
    @include type-p-minus();
    opacity: 0.5;
    font-family: $font-secondary;
    margin-top: 0.5rem;
  }
}
