//- === Component: Pods and Peas === -//
//- Pod Vars: bgColor, textColor, title, sideText
//- Pea Vars: title, text

mixin pod(bgColor, textColor, title, sideText)
  section.container.pod(class="bg-" + bgColor + " color-" + textColor)
    h4.pod__title= title
    p.pod__side-text= sideText

    .pod__content
      if block
        block

mixin pea(title, text)
  article.pea
      p.pea__title= title
      p.pea__text= text
