// -----------------------------------------------------------------------------
// Font: Secondary
//
// Oswald
// category: Sans Serif
// font-family: 'Oswald', serif;
// font-weight(s): regular 400 - semi-bold 600
// from: Google fonts
// https://fonts.google.com/?query=oswa&selection.family=Oswald:400,600
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
