// -----------------------------------------------------------------------------
// Abstracts/Variables: Colors
// Global colors and color map
// -----------------------------------------------------------------------------

// === Globals === //
//setcolor(light): #ffffff;
//setcolor(dark): #000000;
//setcolor(brand, dark): #333831;
//setcolor(brand, medium): #294629;
//setcolor(brand): #487c48;
//setcolor(brand, light): #80c784;
//setcolor(medium): #e4e4e4;
//setcolor(medium, light): #fcfff3;

$theme-colors: (
  light: (
    base: #FFFFFF, // setcolor(light) = setcolor(light);
  ),
  medium: (
    base: #e4e4e4, // setcolor(medium) = setcolor(medium);
    light: #fcfff3 // setcolor(medium, light) = setcolor(medium, light);
  ),
  dark: (
    base: #000000 // setcolor(dark) = setcolor(dark);
  ),
  brand: (
    base: #487c48, // setcolor(brand) = setcolor(brand);
    dark: #333831, // setcolor(brand, dark) = setcolor(brand, dark);
    medium: #294629, // setcolor(brand, medium) = setcolor(brand, medium);
    light: #80c784 // setcolor(brand, light)= setcolor(brand, light);
  )
) !default;

$colors: $theme-colors;

// setcolor(medium, 20);
