@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Color variables
//
// -----------------------------------------------------------------------------

// === Globals === //
$color-white: #ffffff;
$color-black: #000000;
$color-acadia: #333831;
$color-kelp: #294629;
$color-avocado: #487c48;
$color-sprout: #80c784;
$color-mercury: #e4e4e4;
$color-off-white: #fcfff3;

// === Content Specific === //
// Copy text color
$color-text: $color-acadia;

// Main brand color
$color-brand: $color-avocado;

// Background color
$color-background: $color-off-white;

// Header background color
$color-header-bg-full: rgba($color-kelp, 0.95);
$color-header-bg-trans: rgba($color-kelp, 0.5);

// Footer background color
$color-footer-bg: $color-kelp;

// === Color Map === //
// Colors that will be used as classes in the color classes function
// functions/_color-classes.scss
$color-map: (
  "white" $color-white,
  "black" $color-black,
  "acadia" $color-acadia,
  "kelp" $color-kelp,
  "avocado" $color-avocado,
  "sprout" $color-sprout,
  "mercury" $color-mercury,
  "off-white" $color-off-white,
);
