// -----------------------------------------------------------------------------
// Abstracts/Variables: Font weight
// Names for commonly used fws
// -----------------------------------------------------------------------------

$fw-black: 900;
$fw-extra-bold: 800;
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

