// -----------------------------------------------------------------------------
// Font variables
// Preferred and fallback font families
// -----------------------------------------------------------------------------

// === Primary === //
$font-primary: 'Lora', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;

// === Secondary === //
$font-secondary: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
