// -----------------------------------------------------------------------------
// Spacing for outside components
//
// -----------------------------------------------------------------------------

// === Horizontal Spacing === //
$spacing-horizontal-lg: 5vw;
$spacing-horizontal-md: 1.5rem;
$spacing-horizontal-sm: 1rem;

// === Vertical Spacing === //
$spacing-vertical-lg: 5rem;
$spacing-vertical-md: 3rem;
$spacing-vertical-sm: 1.5rem;
