// -----------------------------------------------------------------------------
// Theme: Content specific color variables
// -----------------------------------------------------------------------------

// === Base === //
// Copy text color
$color-text: $color-black;

// Main brand color
$color-brand: $color-inchworm;

// Background color
$color-background: $color-white;

// === Header === //
$color-header-bg-full: rgba($color-ming, 0.95);
$color-header-bg-trans: rgba($color-ming, 0.5);
$color-header-nav-link: $color-white;

// === Mobile menu toggle ===  //
$color-mobile-bars: $color-white;

// === Footer === //
$color-footer-bg: $color-ming;
$color-footer-text: $color-white;
$color-footer-icons: $color-inchworm;
$color-footer-icons-hover: $color-brand;

// === Contact bar === //
$color-contact-bar-title: $color-ming;

// === Buttons === //
$color-btn-bg: $color-brand;
$color-btn-text: $color-white;

// === Pea Card === //
$color-card-bg-1: $color-ming;
$color-card-bg-2: $color-gray-asparagus;
$color-card-bg-3: $color-inchworm;
$color-card-text: $color-white;

// === Hero  === //
$color-hero-text: $color-white;

// === Sidebar === //
$color-sidebar-bg: $color-mercury;
$color-sidebar-icons: $color-ming;
$color-sidebar-icons-hover: $color-brand;
