@charset 'UTF-8';

@import '../functions/unit-conversions';

// -----------------------------------------------------------------------------
// Typography variables
//
// Options:
//   • font-family = $type-{}-family
//   • font-size maximum = $type-{}-max
//   • font-size minimum = $type-{}-min
//   • fluid-type breakpoint maximum = $type-{}-max-screen
//   • fluid-type breakpoint minimum = $type-{}-min-screen
//   • font-weight = $type-{}-weight
//   • letter-spacing = $type-{}-letter
//   • line-height = $type-{}-line
//   • text-transform = $type-{}-transform
//
// -----------------------------------------------------------------------------

// === global base === //
$base-font-size: 16;

// === h1 === //
$type-h1-family: $font-primary;
$type-h1-letter: normal;
$type-h1-line: 1.25;
$type-h1-max: 54;
$type-h1-min: 46;
$type-h1-max-fl: px-to-rem($type-h1-max, true);
$type-h1-min-fl: px-to-rem($type-h1-min, true);
$type-h1-max-screen: $bp-lg;
$type-h1-min-screen: $bp-sm;
$type-h1-transform: uppercase;
$type-h1-weight: normal;

// === h2 === //
$type-h2-family: $font-secondary;
$type-h2-letter: normal;
$type-h2-line: 1.25;
$type-h2-max: 46;
$type-h2-min: 30;
$type-h2-max-fl: px-to-rem($type-h2-max, true);
$type-h2-min-fl: px-to-rem($type-h2-min, true);
$type-h2-max-screen: $bp-lg;
$type-h2-min-screen: $bp-sm;
$type-h2-transform: uppercase;
$type-h2-weight: $font-weight-semi-bold;

// === h3 === //
$type-h3-family: $font-primary;
$type-h3-letter: normal;
$type-h3-line: 1.25;
$type-h3-max: 30;
$type-h3-min: 24;
$type-h3-max-fl: px-to-rem($type-h3-max, true);
$type-h3-min-fl: px-to-rem($type-h3-min, true);
$type-h3-max-screen: $bp-lg;
$type-h3-min-screen: $bp-sm;
$type-h3-transform: unset;
$type-h3-weight: normal;

// === h4 === //
$type-h4-family: $font-secondary;
$type-h4-letter: normal;
$type-h4-line: 1.25;
$type-h4-max: 28;
$type-h4-min: 20;
$type-h4-max-fl: px-to-rem($type-h4-max, true);
$type-h4-min-fl: px-to-rem($type-h4-min, true);
$type-h4-max-screen: $bp-lg;
$type-h4-min-screen: $bp-sm;
$type-h4-transform: uppercase;
$type-h4-weight: $font-weight-semi-bold;

// === paragraph plus === //
$type-p-plus-family: $font-primary;
$type-p-plus-letter: normal;
$type-p-plus-line: 1.67;
$type-p-plus-max: 18;
$type-p-plus-min: 16;
$type-p-plus-max-fl: px-to-rem($type-p-plus-max, true);
$type-p-plus-min-fl: px-to-rem($type-p-plus-min, true);
$type-p-plus-max-screen: $bp-lg;
$type-p-plus-min-screen: $bp-sm;
$type-p-plus-transform: unset;
$type-p-plus-weight: normal;

// === paragraph === //
$type-p-family: $font-primary;
$type-p-letter: normal;
$type-p-line: 1.67;
$type-p-max: 16;
$type-p-min: 14;
$type-p-max-fl: px-to-rem($type-p-max, true);
$type-p-min-fl: px-to-rem($type-p-min, true);
$type-p-max-screen: $bp-lg;
$type-p-min-screen: $bp-sm;
$type-p-transform: unset;
$type-p-weight: normal;

// === paragraph minus === //
$type-p-minus-family: $font-primary;
$type-p-minus-letter: normal;
$type-p-minus-line: 1.67;
$type-p-minus-max: 14;
$type-p-minus-min: 12;
$type-p-minus-max-fl: px-to-rem($type-p-minus-max, true);
$type-p-minus-min-fl: px-to-rem($type-p-minus-min, true);
$type-p-minus-max-screen: $bp-lg;
$type-p-minus-min-screen: $bp-sm;
$type-p-minus-transform: unset;
$type-p-minus-weight: normal;
