@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Vertical rhythm
//
// px value converted @ base 16px
// • $vertical-rhythm-xsm = 24px
// • $vertical-rhythm-sm = 40px
// • $vertical-rhythm-md = 80px
// • $vertical-rhythm-lg = 120px
//
// -----------------------------------------------------------------------------

$vertical-rhythm-xsm: 1.5rem;
$vertical-rhythm-sm: 2.5rem;
$vertical-rhythm-md: 5rem;
$vertical-rhythm-lg: 7.5rem;
