header.header
  .header__content    
    .header__logo
      a(href="/")
        img(src="http://via.placeholder.com/350x75")
    
    .header__nav
      button.mobile-menu__icon.js-mobile-menu__icon 
        .mobile-menu__icon-bars
          span
          span
          span
            
      nav.header__menu      
        ul.header__menu-list
          li.header__menu-item
            a.header__menu-item-link(href="/page1.html") Page 1
          li.header__menu-item
            a.header__menu-item-link(href="/page2.html") Page 2
