.btn {
  @include type-p-plus();
  align-items: center;
  display: flex;
  flex: 1 1 40%;
  font-family: $font-secondary;
  justify-content: center;
  overflow: hidden;
  padding: 0.75em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition-base;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: $color-sprout;
  color: $color-white;
  transition: $transition-base;
  transform-origin: center;

  &:hover {
    transform: scale(1.15);
  }
}

.btn--secondary {
  border: 2px solid $color-brand;
  background-color: transparent;
  color: $color-brand;
  text-align: center;
}

.btn--secondary:hover,
.btn--secondary:active {
  color: $color-white;
  background-color: $color-brand;
}
