.footer {
  @include outer-spacing();
  @include vertical-rhythm($property: margin);
  align-items: center;
  background-color: $color-footer-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $vertical-rhythm-sm;
  padding-top: $vertical-rhythm-sm;
  position: relative;

  .footer__logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    @include bp-min($bp-md) {
      padding-bottom: 0;
    }

    img {
      max-width: 100%;
      max-height: 50px;
      margin: 0 auto;

      @include bp-min($bp-md) {
        margin: 0;
      }
    }
  }

  .footer__content {
    p {
      @include type-p-minus();
      color: $color-off-white;
      max-width: 65%;
      margin: 1rem auto 2rem;
      text-align: center;
    }

    .btn {
      margin: 0 $spacing-horizontal-sm;
    }
  }

  .footer__socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: $vertical-rhythm-sm;

    @include bp-min($bp-md) {
      flex-direction: row;
      padding-right: 0;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;

      li:not(:last-child) {
        padding-right: 2.5rem;
      }

      span {
        display: none;
      }

      i {
        color: $color-avocado;
        font-size: 1.5rem;
        transition: $transition-base;

        &:hover {
          color: $color-sprout;
        }
      }
    }
  }

  .footer__copyright {
    @include outer-spacing();
    background-color: darken($color-kelp, 5%);
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    p {
      color: rgba($color-avocado, 0.5);
      font-size:  0.75rem;
      text-align: left;
    }
  }
}
