footer.footer
  .footer__logo
    a(href="/")
      img(src="../../images/RCB-weblogo.png")

  .footer__socials
    ul
      li
        a(href="email")
          i.far.fa-envelope
      li
        a(href="phone")
          i.fas.fa-mobile
      li
        a(href="https://www.angieslist.com")
          i.fas.fa-list-ul
      li
        a(href="https://houzz.com")
          i.fab.fa-houzz
      li
        a(href="https://www.linkedin.com/company")
          i.fab.fa-linkedin-in

//- global scripts import
include ../../structure/_scripts
