//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./../../components/buttons/_template.pug

footer.footer
  .footer__logo
    a(href="/")
      img(src="http://via.placeholder.com/150x50" alt="Site name")

  .footer__content
    p Nulla vestibulum diam mi, vitae fermentum leo pretium sit amet.

    +button(
      "secondary",
      "/interior.html",
      "Quisque pellentesque",
      "btn--block"
    )

  .footer__socials
    //- === Include: Contact Links === -//
    include ../../includes/contact-links/_template.pug

  .footer__copyright
    p &copy; Site name <span id="spanYear" class="js-year"> </span>

//- global scripts import
include ../../structure/_scripts
