//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./../../components/buttons/_template.pug

footer.footer
  .footer__logo
    a(href="/")
      img(src="../../images/RCB-weblogo.png" alt="Richard Clayton Barrett Landscape Architect")

  .footer__content
    p Rick will contact you asap to schedule a consultation to get to know your desires, tastes, and style.

    +button(
      "secondary",
      "/contact",
      "Contact today",
      "btn--block"
    )

  .footer__socials
    //- === Include: Contact Links === -//
    include ../../includes/contact-links/_template.pug

  .footer__copyright
    p &copy; Richard Clayton Barrett <span id="spanYear" class="js-year"> </span>

//- global scripts import
include ../../structure/_scripts
