footer.footer
  .footer__logo
    a(href="/")
      img(src="http://via.placeholder.com/350x75")
    
  .footer__socials
    ul
      li
        a(href="https://www.facebook.com")
          i.fa.fa-facebook-official
      li
        a(href="https://www.instagram.com")
          i.fa.fa-instagram
      li
        a(href="https://twitter.com")
          i.fa.fa-twitter
      li
        a(href="https://www.linkedin.com/company")
          i.fa.fa-linkedin-square
              
//- global scripts import
include ./../../structure/_scripts.pug
