doctype html
html(lang="en")
- var baseTitle = "Pug"

head
  meta(charset="utf-8")
  block vars
    title #{baseTitle}
  meta(name="description" content="Pug")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  //- css reset
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")

  //- fonts
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

  //- vendor

  //- compiled styles
  link(rel="stylesheet" href="./../styles.css")

  //- favicon
  link(rel="shortcut icon" href="/favicon.png" type="image/png")

  block body

  // Header
  include ../regions/header/_template.pug

  // Content - block content
  main.main-content
    block content

  // Footer
  include ../regions/footer/_template.pug
