doctype html
html(lang="en")
  - var baseTitle = "Richard Clayton Barrett"
  - var pageClass = "page"

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    //- ====== Block: Vars ====== -//
    //- Code that goes in the <head> tag
    block vars

      //- === Structure: SEO meta tags === -//
      include ../structure/_meta.pug
      +meta(baseTitle, pageClass, 'key, word')

    //- css reset
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")

    //- fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")

    //- vendor

    //- favicon
    link(rel="shortcut icon" href="/favicon.png" type="image/png")

    //- compiled styles
    link(rel="stylesheet" href="./../styles.css")

    //- ====== Block: Stylesheets ====== -//
    //- Component styles
    block stylesheets

  body(class=pageClass)
    //- Header
    include ../regions/header/_template.pug

    //- Content - block content
    main.main-content
      block content

    //- Footer
    include ../regions/footer/_template.pug
