extends structure/_layout

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
  block vars

  //- === Structure: SEO meta tags === -//
  include structure/_meta.pug
  +meta('Components', 'All site components', 'key, word')

//- ====== Block: Content ====== -//
//- All content between the header and footer
  block content

  //- === Include: Gallery Demo === -//
  include includes/_gallery-demo.pug

  //- === Component: Callout Peas === -//
  include components/pod/_template.pug
  +pod('callout', 'wrap')
    include components/peas/callout/_template.pug
    +peaCallout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.', 'Proin vitae neque facilisis, vulputate ante et, hendrerit arcu. Aliquam erat volutpat. Suspendisse nec felis placerat, mollis elit in, venenatis dolor. Vivamus a diam ut nibh auctor ornare.')
    +peaCallout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Base Peas === -//
  include components/pod/_template.pug
  +pod('base', '', 'sprout', 'white', 'title', 'side text')
    include components/peas/base/_template.pug
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Contact Bar === -//
  include components/contact-bar/_template.pug
  +contactBar()

  //- === Component: Card Grid === -//
  include components/pod/_template.pug
  +pod('card-grid', 'wrap')
    include components/peas/card/_template.pug
    +peaCard('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +peaCard('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +peaCard('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +peaCard('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +peaCard('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
