extends structure/_layout

block vars
  title Components

block body
  body.page__styleguide

block content

  //- === Component: Callout === -//
  section.container
    h2.sg-title Component: Callout
    include components/callout/_template.pug
    +callout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.', 'Proin vitae neque facilisis, vulputate ante et, hendrerit arcu. Aliquam erat volutpat. Suspendisse nec felis placerat, mollis elit in, venenatis dolor. Vivamus a diam ut nibh auctor ornare.')
    +callout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Pods and Peas === -//
  div
    h2.container.sg-title Component: Pod and Peas
    include components/pods-and-peas/_template.pug
    +pod('sprout', 'white', 'title', 'side text')
      +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
      +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
      +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
      +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Contact Bar === -//
  div
    h2.container.sg-title Component: Contact Bar
    include components/contact-bar/_template.pug
    +contactBar()

  //- === Component: Card Grid === -//
  div
    h2.container.sg-title Component: Card Grid
    include components/card-grid/_template.pug
    +cardGrid()
      +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
      +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
      +card('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
      +card('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
      +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
