extends ./structure/_layout.pug

//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./structure/_meta.pug
include ./components/image/_template.pug
include ./components/pod/_template.pug
include ./components/peas/base/_template.pug
include ./components/testimonial/_template.pug
include ./components/sidebar/_template.pug

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
block vars

  //- === Structure: SEO meta tags === -//
  +meta(
    "Contact",
    "Get in touch today!",
    "key, word"
  )

//- ====== Block: Content ====== -//
//- All content between the header and footer
block content
  article.interior

    header.interior__header
      h2.interior__header-title Richard Clayton Barrett

    .interior__content
      h3.interior__subtitle What to expect

      p Landscaping your home or business is a very personal process. Whether you’re doing a small job or a complete renovation – Rick can help you with all your needs. Fill out the information below and Rick will be contact with you asap. He will schedule a meeting to go over your desires and get to know a little bit about your tastes and style.

      p We look forward to working with you!

      h1 EMBED CONTACT FORM HERE

    //- === Component: Sidebar === -//
    +sidebar(
      "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
      "Image alt text"
    )
