extends ./structure/_layout.pug

//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./structure/_meta.pug
include ./components/scroll-link/_template.pug
include ./components/hero/_template.pug
include ./components/pod/_template.pug
include ./components/peas/callout/_template.pug
include ./components/peas/base/_template.pug
include ./components/peas/card/_template.pug
include ./components/contact-bar/_template.pug

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
block vars

  //- === Structure: SEO meta tags === -//
  +meta(
    baseTitle,
    "Homepage",
    "key, word"
  )

//- ====== Block: Content ====== -//
//- All content between the <header> and <footer>
block content

  //- === Component: Hero === -//
  +hero(
    "left",
    "../../images/ashim-d-silva-628775-unsplash.jpg",
    "Lorem ipsum dolor sit amet",
    "Consectetur adipiscing elit",
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "/interior.html",
    "Lorem ipsum",
    "http://via.placeholder.com/150x50",
    "Lorem ipsum dolor sit amet"
  )

  //- === Component: Scroll Link === -//
  +scrollHere(
    "lorem",
    "Lorem section")

  //- === Component: Callout Peas === -//
  +pod(
    "callout",
    "wrap")

    +peaCallout(
      "../../images/aniket-deole-527363-unsplash.jpg",
      "Lorem ipsum dolor sit amet",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem."
      )

    +peaCallout(
      "../../images/andres-abogabir-252453-unsplash.jpg",
      "Lorem ipsum dolor sit amet",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem."
    )

  //- === Component: Base Peas === -//
  +pod(
    "base",
    "",
    "sprout",
    "off-white",
    "Lorem ipsum dolor sit amet",
    "Lorem ipsum")

    +pea(
      "Lorem ipsum dolor sit amet",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem."
    )

    +pea(
      "Lorem ipsum dolor sit amet",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem."
    )

    +pea(
      "Lorem ipsum dolor sit amet",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem."
    )

  //- === Component: Contact Bar === -//
  +contactBar()

  //- === Component: Card Grid === -//
  +pod(
    "card-grid",
    "wrap"
  )

    +peaCard(
      "",
      "Lorem ipsum",
      "/interior.html",
      "Donec quis",
      "Nulla aliquam leo lacus, at varius velit tempus eget."
    )

    +peaCard(
      "",
      "Lorem ipsum",
      "/interior.html",
      "Donec quis",
      "Nulla aliquam leo lacus, at varius velit tempus eget."
    )

    +peaCard(
      "../../images/aniket-deole-527363-unsplash.jpg",
      "Lorem ipsum",
      "/interior.html",
      "Donec quis",
      "Nulla aliquam leo lacus, at varius velit tempus eget."
    )

    +peaCard(
      "../../images/andres-abogabir-252453-unsplash.jpg",
      "Lorem ipsum",
      "/interior.html",
      "Donec quis",
      "Nulla aliquam leo lacus, at varius velit tempus eget."
    )

    +peaCard(
      "",
      "Lorem ipsum",
      "/interior.html",
      "Donec quis",
      "Nulla aliquam leo lacus, at varius velit tempus eget."
    )


  //- === Component: Scroll Link === -//
  +scrollHere(
    "ipsum",
    "ipsum section")

  //- === Component: Hero === -//
  +hero(
    "left",
    "../../images/ashim-d-silva-628775-unsplash.jpg",
    "",
    "Ipsum"
  )

    //- Hero inside content
    p Etiam vulputate
      ul
        li Dui id ultricies iaculis
        li Lectus libero
        li Ultrices purus
        li Donec nec sollicitudin nisi
        li Vivamus sagittis

    p Quisque fringilla arcu
      ul
        li Nulla a cursus
        li Suspendisse quis suscipit
        li Sed pretium arcu

  //- === Component: Base Peas === -//
  +pod(
    "base",
    "",
    "white",
    "",
    "Nullam sed feugiat quam",
    "Lorem ipsum"
  )

    +pea(
      "Lorem ipsum",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem.",
      "/interior.html",
      "Read More"
    )

    +pea(
      "Lorem ipsum",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem.",
      "/interior.html",
      "Read More"
    )

    +pea(
      "Lorem ipsum",
      "Nulla aliquam leo lacus, at varius velit tempus eget. Donec quis auctor diam. Quisque a sodales orci, ac viverra sem.",
      "/interior.html",
      "Read More"
    )

