extends ./structure/_layout.pug

block body
  body.page__home

block content
  //- === Component: Hero === -//
  include ./components/hero/_template.pug
  +hero("left", "Hello!", "This is the home page" , "../../images/nathan-anderson-316188-unsplash.jpg", "Integer nec ultricies urna, at ullamcorper tortor. Curabitur dignissim lobortis nulla eget vulputate. Mauris vitae sollicitudin tortor, at euismod leo. Nam id nunc suscipit, tincidunt augue ac, tempor libero. Maecenas nec porta nibh. Aenean volutpat quam pharetra, pulvinar sapien a, placerat ligula. Nulla sit amet mollis mi.", "yes")

  //- === Component: Callout === -//
  section.container
    include components/callout/_template.pug
    +callout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.', 'Proin vitae neque facilisis, vulputate ante et, hendrerit arcu. Aliquam erat volutpat. Suspendisse nec felis placerat, mollis elit in, venenatis dolor. Vivamus a diam ut nibh auctor ornare.')
    +callout('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Pods and Peas === -//
  include components/pods-and-peas/_template.pug
  +pod('sprout', 'white', 'title', 'side text')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')
    +pea('title', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at hendrerit neque. Pellentesque sodales dui ut tortor lacinia, vel dignissim nisl accumsan. Donec sagittis tempus mi, ac pharetra sapien volutpat et.')

  //- === Component: Contact Bar === -//
  include components/contact-bar/_template.pug
  +contactBar()

  //- === Component: Card Grid === -//
  include components/card-grid/_template.pug
  +cardGrid()
    +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +card('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +card('https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    +card('', 'title', 'http://localhost:3000/styleguide.html', 'link to content', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
