extends ./structure/_layout.pug

//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./structure/_meta.pug
include ./components/image/_template.pug
include ./components/sidebar/_template.pug

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
block vars

  //- === Structure: SEO meta tags === -//
  +meta(
    "Photos and Videos",
    "Some of our best work",
    "key, word"
  )

//- ====== Block: Content ====== -//
//- All content between the header and footer
block content
  article.interior

    header.interior__header
      h2.interior__header-title Photos & Videos

    .interior__content
      h3.interior__subtitle Some of our best work

      h4 Residential

      //- === Include: Gallery Demo === -//
      include includes/_gallery-demo.pug

      .spacer

      h4 Commercial

      //- === Include: Gallery Demo === -//
      include includes/_gallery-demo.pug

      .spacer

      h4 Curb Appeal Story
      p We followed Candi and Jason as they rebuilt their entire landscape from start to finish. Follow along as they work with Rick Barrett to build a plan and plant their very own new landscape.

      //- === Component: Image === -//
      +image(
        "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
        "",
        "false"
      )

    //- === Component: Sidebar === -//
    +sidebar(
      "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
      "Image alt text"
    )
