extends ./structure/_layout.pug

//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./structure/_meta.pug
include ./components/sidebar/_template.pug

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
block vars

  //- === Structure: SEO meta tags === -//
  +meta(
    "Plans",
    "Examples of Residential and Commercial Plans",
    "key, word"
  )

//- ====== Block: Content ====== -//
//- All content between the header and footer
block content
  article.interior

    header.interior__header
      h2.interior__header-title Plans

    .interior__content
      h3.interior__subtitle Examples of residential and commercial plans

      p Landscaping represents 20% of the value of your home or building and creating a living environment that will last for many years to come is essential in the quality and longevity of your plan.

      p Rick has spent the better portion of his professional career in the design, lawn, & landscape business and is a state - licensed design professional with a degree in landscape architecture. Rick also serves on top Landscape Architect Associations in the country and is highly regarded in the industry.

      h4 Residential

      //- === Include: Gallery Demo === -//
      include includes/_gallery-demo.pug

      .spacer

      h4 Commercial

      //- === Include: Gallery Demo === -//
      include includes/_gallery-demo.pug

    //- === Component: Sidebar === -//
    +sidebar(
      "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
      "Image alt text"
    )
