@charset 'UTF-8';
@import "./scss/abstracts/imports";

// -----------------------------------------------------------------------------
// Styleguide specific styles
// -----------------------------------------------------------------------------

// === Section === //
.styleguide {
  @include gap-horizontal();
  @include gap-vertical();
}

.sg-title {
  background-color: setcolor(medium);
  margin-bottom: 2rem;
  padding: 1rem;

  .sg-title-text {
    @include type-h4();
  }

  code {
    margin: 0;
    padding: 0;
  }
}

.sg-spacer {
  margin-bottom: 1rem;
}

.sg-top-link {
  background-color: setcolor(brand, light);
  bottom: 0;
  color: setcolor(light);
  font-size: 1rem;
  padding: 1em;
  position: sticky;
  display: inline-block;
}

// === Code === //
code {
  background-color: rgba(setcolor(medium), 0.75);
  display: block;
  padding: 0.5rem 2rem;
  margin: 0 0 3rem;
}

// === Colors === //
.colors {
  display: grid;
  grid-gap: $spacing-horizontal-sm;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
  margin: 1.5rem 0 0;
  padding: 0;

  @include media('>=md') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media('>=lg') {
    grid-template-columns: repeat(6, 1fr);
  }

  .colors__color {
    display: flex;
    flex-direction: column;
  }

  .colors__color-box {
    box-shadow: 0 0.125rem 0.125rem 0.0625rem rgba(setcolor(dark), 0.25);
    flex: 1 1 3rem;
    margin-bottom: 0.5rem;
  }

  .colors__color-label {
    flex: 1 1 auto;
  }
}

// === Component overrides === //
.styleguide .sidebar {
  position: relative;
  top: 0;
}
