extends ./structure/_layout.pug

//- === Mixin Template Includes === -//
//- Include the templates for the mixins below
include ./structure/_meta.pug
include ./components/buttons/_template.pug
include ./components/sidebar/_template.pug

//- ====== Block: Vars ====== -//
//- Code that goes in the <head> tag
block vars

  //- === Structure: SEO meta tags === -//
  +meta(
    "Toby Tobin",
    "A regular on the Toby Tobin Radio Show",
    "key, word"
  )

//- ====== Block: Content ====== -//
//- All content between the header and footer
block content
  article.interior

    header.interior__header
      h2.interior__header-title The Toby Tobin Radio Show

    .interior__content
      h3.interior__subtitle A regular on the Toby Tobin Radio Show on 980 KMBZ AM

      p For over ten years now – Richard Clayton Barrett has been a regular on the cast of characters on the Toby Tobin Radio Show on 980 KMBZ AM in Kansas City. Rick is one of Toby’s most trusted sidekicks on the show for expert advice on landscaping, plants, planting, and much more.

      p Toby says, “The key to Rick and I having such a successful relationship on the show is his quality of knowledge and integrity. It’s imperative to me that I have people on the show that our listeners can trust. Rick is one of the more important parts of the success of the show because of his background in the business and the quality information he brings to our listeners.”

      p Rick is on with Toby two to three Saturdays per month. You can listen live on Saturday mornings from 6:00am to 10:00am. Click below to link to the live broadcast of the show on Saturday mornings or tune your radio to 980 KMBZ AM on the dial.

      +button(
        "primary",
        "https://kmbz.radio.com/shows/show-schedule/toby-tobin",
        "Listen to the Toby Tobin radio show",
        "btn--block"
      )

      +button(
        "primary",
        "http://tobytobin.com/",
        "Visit Toby Tobin's website",
        "btn--block"
      )

      +button(
        "primary",
        "#",
        "Watch Toby's video testimonial",
        "btn--block"
      )

    //- === Component: Sidebar === -//
    +sidebar(
      "https://images.unsplash.com/photo-1532926169706-d20b3ab66ff1",
      "Image alt text"
    )
