//- === Component: Scroll To === -//
//- Vars: linkUrl, linkText, linkClass

mixin scrollTo(linkUrl, linkText, linkClass)
  a(data-scroll class=linkClass aria-label=linkText href=linkUrl)= linkText

//- === Component: Scroll her === -//
//- Vars: linkId
mixin scrollHere(linkId, linkText)
  a(id=linkId href="" aria-label="linkText")
