//- === Component: Scroll To === -//
//- Vars: linkUrl, linkText, linkClass

mixin scrollTo(linkUrl, linkText, linkClass)
  a(data-scroll class=linkClass href=linkUrl)= linkText

//- === Component: Scroll her === -//
//- Vars: linkId
mixin scrollHere(linkId)
  a(id=linkId href="")
