// Header mobile menu btn icon

.header {
  .mobile-menu__icon {
    background-color: transparent;
    border: 0 none;
    color: $color-mobile-bars;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    float: right;
    height: $navbar-height;
    margin: 0;
    padding: 0;
    opacity: 1;
    outline: 0 none;
    transition: $transition-base;
    visibility: visible;

    @include bp-min($bp-mobile-menu) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  .mobile-menu__icon:hover .mobile-menu__icon-bars span {
    background-color: $color-mobile-bars;
  }

  .mobile-menu__icon.jsa-visible .mobile-menu__icon-bars {
    span:nth-child(1) {
      top: 0;
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
      width: 0;
    }

    span:nth-child(3) {
      top: 1.45em;
      transform: rotate(-45deg);
    }
  }

  .mobile-menu__icon-bars {
    cursor: pointer;
    height: calc(#{$navbar-height} / 2);
    margin: 0 auto;
    position: relative;
    transform: rotate(0deg);
    transition: $transition-base;
    width: 2em;
  }

  .mobile-menu__icon-bars span {
    display: block;
    background-color: $color-mobile-bars;
    border-radius: 0;
    height: 0.25em;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transform-origin: left center;
    transition: $transition-base;
    width: 100%;
  }

  .mobile-menu__icon-bars span:nth-child(1) {
    top: 0;
  }

  .mobile-menu__icon-bars span:nth-child(2) {
    top: $mobile-bars-spacing--close;
  }

  .mobile-menu__icon-bars span:nth-child(3) {
    top: calc(#{$mobile-bars-spacing--close} * 2);
  }
}
