// Header base layout

.jsa-body-lock {
  overflow: hidden;
}

.header {
  align-items: center;
  display: flex;
  height: 5rem;
  max-height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  @include bp-min($bp-mobile-menu) {
    display: block;
    height: auto;
    //padding-bottom: 1rem;
    //padding-top: 1rem;
  }

  &:after {
    background-color: $color-header-bg-full;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: $transition-base;
    z-index: 20;
    opacity: 0;
  }

  .header__content {
    @include outer-spacing();
    //align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    position: relative;
    width: 100%;
    z-index: 30;

    @include bp-min($bp-mobile-menu) {
      width: auto;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    img {
      max-width: 100%;
      max-height: 50px;
    }
  }

  .mobile-menu__icon {
    position: relative;
    z-index: 30;
  }

  .header__nav {
    display: flex;
    //justify-content: flex-end;
    align-items: center;
  }

  .header__menu {
    @include bp-min($bp-mobile-menu) {
      position: relative;
      z-index: 30;
      height: 100%;
    }
  }
}
