// Header main menu - large & small

.header {
  .header__menu {
    @include bp-max($bp-md - 1) {
      background-color: $color-header-bg-full;
      left: 100%;
      position: absolute;
      right: 0;
      top: 100%;
      transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
      visibility: hidden;
      width: 100%;
      z-index: -1;

      &.jsa-visible {
        left: 0;
        visibility: visible;
        z-index: 10;
      }
    }
  }

  .header__menu-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;

    @include bp-min($bp-md) {
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
    }

    @include bp($bp-md) {
      align-items: center;
    }
  }

  .header__menu-item {
    list-style: none;

    @include bp-max($bp-md) {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0
      }
    }

    @include bp-min($bp-md) {
      margin-right: 3rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    @include bp($bp-md) {
      margin-bottom: 0;
    }

    .header__menu-item-link {
      border-top: 0.15rem solid transparent;
      color: $color-off-white;
      font-size: 1rem;
      font-weight: $font-weight-extra-bold;
      letter-spacing: 0.05rem;
      padding: 0.5rem 0;
      text-decoration: none;
      text-transform: uppercase;

      @include bp-min($bp-md) {
        font-size: 1.5vw;
        text-shadow: 0 3px 5px rgba($color-black, 0.25);
      }

      @include bp-min($bp-lg) {
        font-size: 1rem;
      }

      &:hover {
        color: $color-sprout;
      }
    }
  }
}
