// -----------------------------------------------------------------------------
// Component: Card Grid
// -----------------------------------------------------------------------------

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $color-white;
  flex: 1 1 auto;
  padding: 2.5rem;
  position: relative;

  @include bp-min($bp-md) {
    flex-basis: 50%;
  }

  @include bp-min($bp-lg) {
    flex-basis: 33.333%;
  }

  &:nth-of-type(3n+1) {
    background-color: $color-kelp;
  }

  &:nth-of-type(3n+2) {
    background-color: $color-sprout;
  }

  &:nth-of-type(3n+3) {
    background-color: $color-avocado;
  }

  &:nth-of-type(4n) {
    @include bp-min($bp-lg) {
      flex-basis: 66.666%;
    }
  }

  &.card--bg-img:before {
    @include trbl();
    background-color: rgba($color-kelp, 0.5);
    content: '';
    pointer-events: none;
  }

  .card__content {
    position: relative;
    z-index: 1;

    a {
      color: $color-white;
      text-decoration: none;

      &:after {
        content: '\21A3';
        margin-left: 0.75rem;
        font-size: 1.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
